body {
  color: #d62b1e;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  background: #dbdbd5;
}

a {
  text-decoration: none;
  font-style: italic;
  color: #d62b1e;
}

a:hover {
  font-weight: bolder;
}

select {
  color: #d62b1e;
  background: #dbdbd5;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  border: none;
  border-bottom: solid 3px #d62b1e;
}


form {
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 7px 7px 0px -2px #d62b1e,
              -7px -7px 0px -2px #d62b1e;
}

form input {
  font-size: 18px;
}

input {
  width: 100%;
  background: #dbdbd5;
  border: none;
  text-align: center;
  padding: 5% 0px;
}

.title {
  display: flex;
}

.return-title {
  /* font-style: italic; */
  /* font-weight: 500; */
}
